@import "../reset.css";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(248, 223, 0);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.button {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.main-img {
  background: rgb(248, 223, 0);
}
