.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.welcome-header__title {
  font-size: 25px;
  margin-bottom: 25px;
}

.welcome-header__text {
  color: gray;
  text-align: center;
}
.login-form {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.login-form__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px gray solid;
  height: 50px;
  font-size: 17px;
}

.login-form__text {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
}

.login-form__button__lg {
  margin-top: 20px;
  height: 50px;
  border: none;
  background-color: yellow;
  font-size: 17px;
}

.login-form__button__sg {
  margin-top: 5px;
  height: 50px;
  border: none;
  font-size: 17px;
}
